@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo API Cadastro Cliente</h1>
    <p>Página inicial.</p>

    <p>

        O projeto possui:

        Docker
        O API para cadastro de clientes;
        Projeto .NET 7 separado em camadas;
        Na camada web será Web Api ;
        AutoMapper para transportar dados das classes de domínio para classes anêmicas (DTO);
        injeção de dependência para desacoplamento através  de interface;
        DDD
        TDD        
        Utilizar Entity Framework Core com DbContext;        
        Clean Architecture
        Princípios do Solid

    </p>
</div>
